/target
/.zetten
**/*.hash
/.vscode
.DS_Store
/.venv/
/.python-version
/__pycache__/
*.pyc
*.pyo
*.pyd
*.swp
*.swo
*.egg-info/
dist/
build/
.eggs/
pip-wheel-metadata/
htmlcov/
coverage.xml
.tox/
.nox/
.pytest_cache/
.coverage
.cache
nosetests.xml
coverage/
*.cover
.hypothesis/
.pyre/
site/