site_name: Zetten
site_url: https://docs.zetten.in
repo_url: https://github.com/yourusername/zetten

theme:
  name: material
  logo: assets/logo.png    # The icon at the top left of the page
  favicon: assets/logo.png # The icon in the browser tab
  palette:
    # Light mode
    - scheme: default
      primary: white
      accent: red
      toggle:
        icon: material/brightness-7
        name: Switch to dark mode
    # Dark mode
    - scheme: slate
      primary: black
      accent: red
      toggle:
        icon: material/brightness-4
        name: Switch to light mode
  features:
    - navigation.tabs
    - navigation.sections
    - navigation.indexes
    - content.code.copy
    - content.code.annotate

nav:
  - Introduction: index.md
  - Installation: installation.md
  - Quick Start: quickstart.md
  - Features:
    - Determinism: features/determinism.md
    - Caching: features/caching.md
    - Worker Pool: features/execution.md
  - Guides:
    - CI Usage: guides/ci.md
    - Configuration: guides/config.md
    - Variables Usages: guides/variables.md
  - Reference:
    - CLI Commands: reference/commands.md