name: publish-docs
on:
  push:
    branches: [main]

permissions:
  contents: write

jobs:
  deploy:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - uses: actions/setup-python@v5
        with:
          python-version: 3.x
      - run: pip install mkdocs-material mike
      - name: Deploy with Versioning
        run: |
          git config user.name github-actions
          git config user.name github-actions@github.com
          mike deploy --push --update-aliases latest